.site-financial,
.site-services,
.site-valvoline {
  --promo-cta-img-ratio: 16/10;
  --promo-cta-text-opacity: 0.85;
  --promo-cta-text-size: 1rem;
}

.promo-cta {
  background-color: var(--bg-main-alt);
  padding-top: $component-margin * 1.5;
  padding-bottom: $component-margin * 1.5;

  @include respond-to(mobile-large) {
    padding-left: $size-padding;
    padding-right: $size-padding;
  }

  &.with-dotted-accents {
    .image-wrapper {
      margin: 0;

      .dotted-accent {
        display: none;
      }
    }
  }

  &:not(.with-dotted-accents) {
    .dotted-accent {
      display: none;
    }
  }

  &.bordered {
    .image-wrapper img {
      border-radius: 0;
      border: none;
    }
  }

  .main-content {
    --bs-gutter-x: 4rem;
    --bs-gutter-y: 2rem;
  }

  .text-content {
    opacity: var(--promo-cta-text-opacity);
  }

  .promo-cta-text {
    font-size: var(--promo-cta-text-size);
    color: var(--text-muted);
  }

  .image-wrapper {
    position: relative;

    img {
      aspect-ratio: var(--promo-cta-img-ratio);
      width: 100%;
      object-fit: cover;
      border-radius: 0;
      overflow: hidden;
    }
  }

  h1,
  h2 {
    text-transform: uppercase;
    color: var(--text-colored);
  }

  &.no-background,
  .page-background .background-content & {
    background-color: $bg-transparent !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $component-margin;
    margin-bottom: $component-margin;
  }

  &.with-background-image {
    display: flex;
    align-items: center;
    background-color: var(--bg-accent) !important;
    min-height: 60vh;
    color: var(--text-body-inverted);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--text-body-inverted);
    }

    .container {
      position: relative;
      z-index: 2;
    }

    .parallax-background-image,
    .background-image {
      position: absolute !important;
      inset: 0;
      z-index: 1;
      opacity: 0.15;
      mask-image: none;
    }
  }

  &.with-placeholder-column {
    .image-wrapper {
      margin: 0;
    }

    .promo-cta-placeholder {
      margin-right: -42%;
      z-index: 3;

      &-inner {
        border: 1px solid var(--border-color);
        background-color: var(--bg-body);
        padding: 2rem 3rem;
      }

      .styled-list ol {
        margin-bottom: 0;
      }
    }

    .dotted-accent {
      display: none;
    }
  }
}
