.heading-cta {
  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }

  h2,
  h3 {
    font-family: var(--font-family-heading);
  }

  .heading-content-wrapper {
    max-width: 36rem;
  }

  p {
    opacity: var(--heading-cta-text-opacity);
    color: var(--text-muted);
    line-height: 1.7;
  }

  &.compact {
    .heading-content-wrapper {
      max-width: 28rem;
    }
  }
}
