@import 'src/assets/sass/abstracts/mixins';
@import 'variables';

footer {
  background-color: var(--bg-footer);
  color: var(--text-footer);
  border-top: 1px solid var(--border-color);

  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }

  a {
    color: var(--louder-navy);
    text-decoration: none;
    opacity: 1;
    transition: color 0.2s ease;

    &:hover {
      opacity: 1;
      color: var(--louder-primary);
    }
  }
}
