@import 'src/assets/sass/abstracts/vars';
@import 'src/assets/sass/abstracts/mixins';

.promo-shadow {
  max-width: min(1128px, 100%);
  padding: 0;
  border: var(--border-width-default) solid var(--border-color);
  border-radius: var(--roundness-lg);
  overflow: visible;
  position: relative;
  box-shadow: var(--shadow-card);

  &.promo {
    float: left;
  }

  > .component-content {
    padding: 1.5rem;
    margin: 0 0 2rem;

    @include respond-to(all-mobile) {
      margin: 0 0 1.5rem;
    }
  }
}
