@import 'src/assets/sass/abstracts/vars';
@import 'src/assets/sass/abstracts/mixins';

.navigation.sitemap-navigation {
  @include respond-to(mobile-large) {
    padding-left: $size-padding;
    padding-right: $size-padding;
  }

  line-height: 2;

  li > ul {
    margin-top: 0.5rem;
  }

  .level2 a {
    position: relative;
    padding-left: 1.5rem;
    font-size: 1rem;

    &::before {
      @include font-size(1.4);
      @include material-symbols-outlined;

      transform: translateY(-50%) scale(1, -1);
      position: absolute;
      content: 'subdirectory_arrow_right';
      top: 30%;
      left: 0;
    }
  }
}
